{% extends 'base.html.twig' %}


{% block title %}moness
{% endblock %}


{% block body %}

<div id="slide-menu" class="leaflet-control-slide-menu">

</div>
	<div id="Carte"></div>


	{# </div>
				<!-- champs de recherche-->
				<p>
					<label for="champ-ville">Ville</label>
					<input type="text" id="champ-ville">
				</p>
				<p>
					<label for="champ-distance">Distance:</label>
					<input type="range" min="1" max="200" id="champ-distance">
				</p>
				<p id="valeur-distance"></p> #}
				

{% endblock %}
