{% extends 'base.html.twig' %}


{% block title %}moness
{% endblock %}


{% block body %}
	<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
			<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
			        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
                    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">       
            <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
                    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

		</head>
		<style>
			html,
			body {
				height: 100%
			}
		</style>

		<body onload="initialize()">
			<div id="maCarte" style="width:100%; height:100%"></div>
		</body>
	</html>
	<script type="text/javascript">
		function initialize() {
var villes = {
"Alès": {
"lat": 46.2276,
"lon": 4.0810
},
"Paris": {
"lat": 48.852969,
"lon": 2.349903
},
"Brest": {
"lat": 48.383,
"lon": -4.500
},
"Quimper": {
 "lat": 48.000,
 "lon": -4.100 
 },
   "Bayonne": {
"lat": 43.500,
"lon": -1.467 
}
};
 var tableauMarkers = [];

// le setView permet de mettre la latitude et la longitude (en initialise la carte)
var carte = L.map('maCarte').setView([
46.2276, 2.2137
], 6);

// en appelle leafeat et ont lui demande la couche de tuiles ont lui donne une addresse vers un serveur, attribution et zoom mini zoom maxi
var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { // Il est toujours bien de laisser le lien vers la source des données
attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
minZoom: 6,
maxZoom: 16
});
var markers= L.markerClusterGroup();
// on personnalise les marqueurs
// var icone = L.icon({
//     iconUrl:
//     iconSize:
//     iconAnchor:
//     popupAnchor:

// })

// on parcourt les differente villes
for (ville in villes) { // on crée le marqueur et on lui attribue une popup
var marker = L.marker([
villes[ville].lat,
villes[ville].lon
]).addTo(carte);
marker.bindPopup("<p>" + ville + "</p>");
markers.addLayer(marker); //on ajoute le marqueur au groupe
 // On ajoute le marqueur au tableau
                tableauMarkers.push(marker);
carte.addLayer(osmLayer);

}
// On regroupe les marqueurs dans un groupe Leaflet
            var groupe = new L.featureGroup(tableauMarkers);
            // On adapte le zoom au groupe
            carte.fitBounds(groupe.getBounds().pad(0.5));
carte.addLayer(markers);
}
	</script>
{% endblock %}
