
	<div class="wrapper">
		<div class="contact">
			<h1>
				Nous contacter
			</h1>
			<div class="contact-items">
				<div class="contact-item">
					<a href="tel:0629953949">
						<ion-icon name="call-outline"></ion-icon>
						06 29 95 39 49
					</a>
				</div>
				<div class="contact-item"></div>
				<a href="mailto:fatimazen24@gmail.com">
					<ion-icon name="mail-outline"></ion-icon>
					fatimazen24@gmail.com
				</a>
				<div class="contact-item">
					<a href="www.exemple.com">
						<ion-icon name="globe-outline"></ion-icon>
						www.exemple.com
					</a>
				</div>
			</div>
		</div>
	</div>


{% block javascripts %}
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
