{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div style="text-align: center; border: 1px solid #030303;box-shadow: 1px 1px 2px ;font-family: 'Futura Md-Bt', sans-serif;">
      <h2>Mes données personnelles</h2>
    </div>
    <div class="col-md-12">

    </div>
{% include "user_inscription/_form.html.twig" %}

{% endblock %}
