{% extends 'base.html.twig' %}

{% block title %}Hello MapController!{% endblock %}

{% block body %}
    <div id="map" style="height: 400px;"></div>

    <script>
        // Create a new instance of the map using the custom CRS
        var map = L.map('map', {
            crs: {{ customCRS|json_encode|raw }}
        });

        // Add a tile layer to the map
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
            maxZoom: 18
        }).addTo(map);

        // Set the initial view of the map to a specific location and zoom level
        map.setView([59.3289, 18.0649], 6);
    </script>
{% endblock %}





{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

   

