{% extends '@EasyAdmin/page/content.html.twig' %}

{%  block content %}
	<h1>Bienvenue a seins de l'administration de MonEss.fr</h1> <br>

    <div class="container">
	<button class="btn btn-outline-dark  fs-5 rounded-pill ">
		<a href=" {{path('home.index')}} ">Retour vers le site</a>
	</button>
    </div>
{% endblock %}
