@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Futura');


body {
    background-color: white;
}
p{
    font-family: Futura Lt-Bt;
}
h1{
     font-family:Wollicht;
     color: #82D830;
}
