@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.cdnfonts.com/css/futura-md-bt');
@import url('https://fonts.cdnfonts.com/css/futura-lt-bt');


body {

p{
    font-family: futura-md-bt;
}
h1{
    font-family:futura-md-bt;
    color: #82D830;
}
h2{
    text-transform: uppercase;
    font-family:futura-md-bt;
}
p{
    font-family:futura-lt-bt;
}

}