{% extends 'base.html.twig' %}

{% block title %}Moness.fr contact{% endblock %}

{% block body %}
    <div class="container">
        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <h1>Formulaire de contact</h1>
        {{ form(contactForm) }}
    </div>
{% endblock %}
