{% for label, message in app.flashes %}
    <div class="alert alert-{{ label }} alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert-message"></button>
        {% if message is iterable %}
            {% for item in message %}
                <p>{{ item }}</p>
            {% endfor %}
        {% else %}
            <p>{{ message|raw }}</p>
        {% endif %}
    </div>
{% endfor %}
