{% extends 'users.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Formulaire de modification de mot de passe de l'utilisateur</h1>
        
        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div> 

    <div class="container">
        {% for flashMessage in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {{ form(form) }}
    </div>
{% endblock %}
