{% extends 'base.html.twig' %}

{% block title %}Ajouter une structure de Ess{% endblock %}

{% block body %}
<h1>Ajouter votre structure de Ess</h1>

    {% include "ess/_form.html.twig" %}
{% endblock %}
