{# {% extends 'base.html.twig' %} #}
{% set cancel_route = "ess.index" %}
{% set title = "Ajouter une ess" %}
{# {% block title %}Ajouter une structure de Ess
{% endblock %} #}

{% block body %}
	<h1 class="titre" style="font-family: Futura Md-Bt; text-align: center;">Soyez visible ajouter votre ESS</h1><br><br>

	<p style="text-align: center; font-size: 1.2em; line-height: 1.5;">Pour avoir un impact, vous devez être vu(e) et localisable.
								Pour avoir un impact réel, votre<br>
		entreprise de l'économie sociale et solidaire doit être facilement trouvable, identifiable
		et localisable.<br>
		Faites en sorte que votre mission soit clairement visible pour la communauté.
		Soyez facilement identifiable <br>et localisable pour que les gens puissent
		vous trouver et vous soutenir dans votre engagement pour un avenir meilleur.</p>
	{% include "ess/_form.html.twig" %}
{% endblock %}
{% block forms %}
    {{ include('app/ess/add.html.twig', {'button_label': 'Enregistrer'}) }}
{% endblock %}