{% extends 'base.html.twig' %}
{% block title %}Ajouter une structure de Ess
{% endblock %}

{% block body %}
		<div class="container-fluid" style='border-bottom:2px solid #82D830'>

	<h1 classe="titre" style="font-familly:Futura Md-Bt">Votre structure de Ess a bien était ajoutée </h1>
</div>

	{# {% include "ess/_form.html.twig" %} #}




	
{% endblock %}