{% extends 'base.html.twig' %}

{% block title %}Ajouter une structure de Ess{% endblock %}

{% block body %}
<div class="col-12 cold-md-6 container">
	<h1 class="display-5 fw-bolder" style="font-family: Futura Md-Bt; text-align: center;">Ajouter votre structure de Ess</h1>
    <h2 style="text-align: left;">Soyez visible, ajoutez votre ESS</h2>
	<p class="lead" style="text-align: center;">
		Pour avoir un impact, vous devez être vu(e) et localisable.
    	Pour avoir un impact réel, votre entreprise de l'économie sociale et solidaire doit être facilement trouvable, identifiable et localisable.
    	Faites en sorte que votre mission soit clairement visible pour la communauté.
    	Soyez facilement identifiable et localisable pour que les gens puissent vous trouver et vous soutenir dans votre engagement pour un avenir meilleur.
	</p>
	
	{# {% include "ess/_form.html.twig" %} #}
</div>
{% endblock %}
